/* ************* */
/* common */
/* ************* */

* {
    box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Roboto,sans-serif;
    background-image: linear-gradient(#f0f1b8, #0a649b);
    min-height: 100vh;
}

.wrapper {
	text-align: center;
    height: 100%;
	padding: 60px 20px 80px;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
	max-width: 400px;
    margin: 0 auto;
    min-height: 100vh;
}

a {
	color: white;
	text-decoration: none;
	font-size: 18px;
	transition: all 0.3s;
}

a:hover {
	opacity: 0.8;
}

a:active,
a:focus {
	opacity: 1;
}

/* ************* */
/* profile */
/* ************* */

.profile img {
	width: 200px;
	border-radius: 50%;
}

.profile h1 {
	margin-bottom: 0;
    font-family: Roboto Slab,serif;
    font-size: 40px;
}

.profile p {
	margin-top: 10px;
    font-size: 22px;
}

.profile p a {
	text-decoration: underline;
}

/* ************* */
/* contact */
/* ************* */

.contact .row {
	background-color: rgba(255, 255, 255, 0.16);
	margin: 20px auto;
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 30px;
    font-size: 20px;
}

.contact .row .right a {
	background: red;
	display: inline-block;
	padding: 10px 30px;
	border-radius: 20px;
	border: 1px solid rgba(255, 255, 255, 0.4);
}

.contact .row .right a.phone {
	background-color: rgb(0, 181, 222);
}

.contact .row .right a.whatsapp {
	background-color: rgb(0, 220, 99);
}

.contact .row .right a.mail {
	background-color: rgb(232, 186, 1);
}

.contact .row .right a.website {
	background-color: rgb(157, 157, 157);
}

/* ************* */
/* connect */
/* ************* */

.connect {
    color: #fff;
    background-color: #00000014;
    padding: 15px;
    width: 100%;
    border-radius: 9px;
}
.connect h2 {
    margin: 0 0 25px 0;
    font-family: Roboto Slab,serif;
    font-size: 30px;
    font-weight: normal;
}
.connect .links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.connect .links a {
    color: #fff;
    font-size: 30px;
}
